/* Стилизация кнопки */

.button {
    display: inline-flex;
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
    padding: 15px 66px;
    width: min-content;
}

.button_primary {
    background: var(--primary);
}
.button_secondary {
    background: var(--secondary);
}

.button_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button_alternate {
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}



